<footer class="footer">
    <div class="container">

        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class=""><strong>Shuai Zhou &middot; 2022 &middot; V2022-0128</strong></a>
			<script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5wviwnxn7d7&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33&amp;s=341&amp;bv=100" async="async"></script>
			</p>
        </div>
    </div>
</footer>


<!-- <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=111af7&w=600&t=tt&d=SCPUqwnrleFcfo2hIFoDvMHLBZ6-Fe_dHWE8QC8xUak&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=000000"></script> -->