<!-- IF OTHER OPTIONS DO NOT WORK, USE THIS ONE -->
<!-- <div class="col-md-4">
<a class="twitter-timeline" href="https://twitter.com/ShuaiZhou312" data-height="690">Tweets by ShuaiZhou312</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div> -->

<div class="col-md-4">
<a class="twitter-timeline" href="https://twitter.com/ShuaiZhou312" data-width="270" data-height="690">Tweets by ShuaiZhou312</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

