<!-- <div class="col-md-4">
<a class="twitter-timeline" href="https://twitter.com/ShuaiZhou312" data-width="270" data-height="690">Tweets by ShuaiZhou312</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div> -->

<div class="twitter-block">
<a class="twitter-timeline" data-width="270" data-height="690" data-link-color="#000" data-theme="light" href="https://twitter.com/ShuaiZhou312" data-chrome="noheader transparent nofooter nofooter noborders">Tweets by ShuaiZhou312</a>
</div>

